{% extends "base.html" %}

{% block title %}Debug page{% endblock %}

{% block css %}
    <style>
        .layout{
            width: 500px;
            overflow: scroll;
        }

        .widget{

        }
    </style>
{% endblock %}

{% block anchors %}
    <div class="col-xs-10 main">
        <div class="event-sources">
            <h2>Event sources raw data</h2>
        </div>
        <div class="widgets">
            <h2>Widgets debugging</h2>
        </div>
    </div>
{% endblock %}

{% block controller %}
    <script src="lupulo_static/js/controller.js"></script>
    <script src="lupulo_static/js/debug.js"></script>
{% endblock %}

{% block widgets %}
    <script src="lupulo_static/js/widgets/multiple_line.js"></script>
{% endblock %}
