{% extends "base.html" %}

{% block title %}
    default main page
{% endblock %}

{% block anchors %}
    <div class="col-xs-10 information">
        <h2>Information</h2>
        <div id="date-anchor"></div>
        <div id="battery-anchor"></div>
        <div id="distances-anchor"></div>
        <div id="rotation-anchor"></div>
        <div id="direction-anchor"></div>
        <div id="acceleration-anchor"></div>
        <div id="motors-anchor"></div>
        <div id="floor-anchor"></div>
    </div>
{% endblock %}

{% block widgets %}
    <script src="lupulo_static/js/widgets/multiple_line.js"></script>
{% endblock %}
