<html>
    <head>
        <script>
            eventSource = new EventSource("http://localhost:8080/subscribe");
            eventSource.onmessage = function(event) {
                element = document.getElementById("event-data");
                element.innerHTML = event.data;
            };
        </script>
        <link rel="stylesheet" type="text/css" href="static/main.css" />
    </head>
    <body>
        <h1> m3dpi demo</h1>
        <h3> Event data: </h3>
        <p id="event-data"></p>
    </body>
</html>
